autom4te.cache
glog-*.tar.gz
packages/rpm-unknown
packages/debian-*
CMakeCache.txt
CMakeFiles/
*.cmake
config.h
*.sln
*.vcxproj
*.filters
/build/build_temp
/build/nuget/build
/build/nuget/Cvte.logger.native.dynamic.md_d.targets
/build/nuget/UseLibraryMethod-propertiesui.xml
/build/nuget/glog.json
/build/nuget/*.nupkg
/build/nuget/*.nuspec
